<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png"/>
    <link rel="icon" href="/assets/img/logo.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/assets/vendor/pace/pace.css">
    <script src="/assets/vendor/pace/pace.min.js"></script>
    <!--vendors-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/jquery-scrollbar/jquery.scrollbar.css">
    <link rel="stylesheet" href="/assets/vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="/assets/vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/assets/vendor/timepicker/bootstrap-timepicker.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fonts/jost/jost.css">
    <!--Material Icons-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/materialdesignicons/materialdesignicons.min.css">
    <!--Bootstrap + atmos Admin CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/atmos.min.css">
    <!-- Additional library for page -->
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

</head>
<body class="sidebar-pinned page-home">
<aside class="admin-sidebar">
    <div class="admin-sidebar-brand">
        <!-- begin sidebar branding-->
        <img class="admin-brand-logo" src="/assets/img/logo.png" width="40" alt="atmos Logo">
        <span class="admin-brand-content font-secondary"><a href="/"> SHOP</a></span>
        <!-- end sidebar branding-->
        <div class="ml-auto">
            <!-- sidebar pin-->
            <a href="#" class="admin-pin-sidebar btn-ghost btn btn-rounded-circle"></a>
            <!-- sidebar close for mobile device-->
            <a href="#" class="admin-close-sidebar"></a>
        </div>
    </div>
    <div class="admin-sidebar-wrapper js-scrollbar">
        <ul class="menu">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="menu-item">
                    <a href="/manage/products" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">
                            Manage Products
                        </span>
                    </span>
                        <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-numeric-1-box-outline "></i>
                    </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/manage/users" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">
                            Manage Users
                        </span>
                    </span>
                        <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-account-outline "></i>
                    </span>
                    </a>
                </li>
            {% endif %}
            <li class="menu-item">
                <a href="/" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">
                            Browse Products
                        </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-eye-check-outline "></i>
                    </span>
                </a>
            </li>
            <li class="menu-item ">
                <a href="#" class="menu-link">
                    <span class="menu-label">
                        <span class="menu-name">
                            Forms
                        </span>
                    </span>
                    <span class="menu-icon">
                        <i class="icon-placeholder mdi mdi-lead-pencil "></i>
                    </span>
                </a>
            </li>
        </ul>

    </div>
</aside>
<main class="admin-main">
    <!--site header begins-->
    <header class="admin-header">
        <a href="#" class="sidebar-toggle" data-toggleclass="sidebar-open" data-target="body"> </a>

        <nav class=" mr-auto my-auto">
            <ul class="nav align-items-center">

                <li class="nav-item">
                    <a class="nav-link  " data-target="#siteSearchModal" data-toggle="modal" href="#">
                        <i class=" mdi mdi-magnify mdi-24px align-middle"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <nav class=" ml-auto">
            <ul class="nav align-items-center">
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-24px mdi-cart-outline"></i>
                            <span class="notification-counter"></span>
                        </a>

                        <div class="dropdown-menu notification-container dropdown-menu-right">
                            <div class="d-flex p-all-15 bg-white justify-content-between border-bottom ">
                                <a href="#!" class="mdi mdi-18px mdi-settings text-muted"></a>
                                <span class="h5 m-0">Cart</span>
                                <a href="/cart">View All</a>
                            </div>
                            <div class="notification-events bg-gray-300">
                                {% set cart = app.session.get('cart', []) %}
                                {% for product in cart %}
                                    <a href="#" class="d-block m-b-10">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <i class="mdi mdi-circle text-success"></i>
                                                        {{ product.name }}
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        Qty. {{ product.counter }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#"   role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-sm avatar-online">
                            <span class="avatar-title rounded-circle bg-dark">V</span>

                        </div>
                    </a>
                    <div class="dropdown-menu  dropdown-menu-right"   >
                        <a class="dropdown-item" href="#">Add Account</a>
                        <a class="dropdown-item" href="#">Reset Password</a>
                        <a class="dropdown-item" href="#">Help </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"> Logout</a>
                    </div>
                </li>

            </ul>

        </nav>
    </header>
    <!--site header ends -->
    <section class="admin-content">
        {% block body %}{% endblock %}
    </section>
</main>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/vendor/popper/popper.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/select2/js/select2.full.min.js"></script>
<script src="/assets/vendor/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="/assets/vendor/listjs/listjs.min.js"></script>
<script src="/assets/vendor/moment/moment.min.js"></script>
<script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="/assets/js/atmos.min.js"></script>
<!--page specific scripts for demo-->

<!--Additional Page includes-->
<script src="/assets/vendor/apexchart/apexcharts.min.js"></script>
<!--chart data for current dashboard-->
<script src="/assets/js/dashboard-01.js"   ></script>
</body>
</html>
